/* Universal selector */
* {
    box-sizing: border-box;
}

/* Wrapper */
#wrapper {
    background: linear-gradient(to bottom, #B2C8D6, #EAEAEA);
}

/* Body */
body {
    background-color: #EAEAEA;
    background-image: none;
    background-repeat: no-repeat;
}

/* Header */
header {
    height: 120px;
}

/* H1 */
h1 {
    font-size: 3em;
    letter-spacing: 0.25em;
    margin: 0;
}

/* Left-column navigation */
nav {
    float: left;
    width: 160px;
    padding: 0;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    padding-left: 1em;
}

nav li {
    margin: 0.5em 0;
}

nav a {
    display: block;
    color: #5C7FA3;
    text-decoration: none;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #A52A2A;
}

/* Main content */
main {
    float: left;
    margin-left: 170px;
    background-color: #FFFFFF;
    overflow: auto;
}

/* Hero images */
#homehero, #yurthero, #trailhero {
    margin-left: 170px;
}

/* Footer */
footer {
    float: left;
    width: 100%;
    background-color: #FFFFFF;
    margin-left: 170px;
    padding: 1em;
}

/* Section */
section {
    float: left;
    width: 33%;
    padding:
}